/* * {
  outline: 1px solid red;
} */

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

.calculator {
  border: 2px solid grey;
  width: 371px;
  height: 548px;
}

.display {
  height: 133px;
  background-color: rgb(6, 21, 65);
  border: 8px solid ivory;
  color: white;
  font-size: 3em;
  text-align: right;
  padding: 20px;
}

.button {
  width: 85px;
  height: 75px;
  border: 1px solid blue;
  background-color: beige;
  margin: 2px;
  text-align: center;
  font-size: 2.8em;
}

.button:hover {
  background-color: rgb(159, 206, 218);
}

.button:active {
  position: relative;
  top: 1px;
}

.button-set {
  background-color: ivory;
}