/* * {
  outline: 1px solid red;
} */

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

.calculator {
  border: 2px solid grey;
  width: 371px;
  min-height: 548px;
  line-height: 1.1;
}

.display {
  min-height: 135px;
  background-color: rgb(6, 21, 65);
  border: 8px solid ivory;
  color: white;
  text-align: right;
  padding: 10px;
}

.display_history {
  min-height: 30px;
  font-size: 1.2em;
}
.display_current-value {
  font-size: 4em;
}

.button {
  width: 84.8px;
  height: 75px;
  border: 1px solid blue;
  background-color: beige;
  margin: 2px;
  text-align: center;
  font-size: 2.8em;
}

.two-button {
  width: 173px;
}

.button:hover {
  background-color: rgb(159, 206, 218);
}

.button:active {
  position: relative;
  top: 1px;
}

.button-set {
  background-color: ivory;
}